.holidayList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.holidayList mat-card{
  border: 1px solid #999;
  width: 22%;
  margin:12px;
  cursor: pointer;
  padding: 0px !important;
  font-size: 14px;
}
.holidayList mat-card:hover{
  -webkit-box-shadow: 2px 2px 20px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 20px -1px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 20px -1px rgba(0,0,0,0.75);

}
.holidayList mat-card:hover div{
  -webkit-transform: scale(1.2);
}

mat-card-actions{
  margin:0px !important;
  padding: 50px 0 !important;
}
